@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.4s ease, color 0.4s ease;
}

:root {
  --gradient-type: linear-gradient(
    to right in srgb,
    var(--from-color),
    var(--to-color)
  );
  --from-color: #6366f1; /* indigo-500 */
  --to-color: #2dd4bf; /* teal-400 */
  --text-color: #1e293b;
}

.dark {
  --gradient-type: radial-gradient(
    at 25% 25%,
    var(--from-color),
    var(--to-color)
  );
  --from-color: #6b7280; /* gray-500 */
  --to-color: #18181b; /* zinc-900 */
  --text-color: #c0c0bf;
  /* --text-color: #000000; */
}

.bg-gradient {
  background: var(--gradient-type);
}

.text-color {
  color: var(--text-color);
}

body {
  overflow-x: hidden;
}

/* components css */
.curds {
  width: 85vw;
  height: auto;
  background: #5b43ab;
  padding: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--color-just-black);
  position: relative;
  border-radius: 10px;
}

button {
  margin: 0 auto;
  display: inline-block;
  outline: none;
  padding: 8px 14px;
  text-decoration: none;
  border-radius: 99px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  line-height: 18px;
}
